body{
	font-family: sans;
}

#cod{
    text-align: right;
}

.myheader{
	margin: 0px;
	font-size: 10px;
  }

.rounded {
	border:1px solid #000000;
	border-radius: 4px;
	
}

h4 {
	font-size:9pt;
	margin: 2px;
}

h2 {
	font-size:5pt;
	margin: 2px;
}

div {
	margin-bottom: 5px;
}

.cabecera{
	font-size: 12px;
}

.row {
	display: flex;
  }

#logosection {
	text-align: center;
}

#logo{
	width: 150px;
}

#informacion {
	text-align: center;
	width: 100%;
	
}

#observacion {
	font-size: 12px;
	
}

#infoCliente{
	padding: 5px;
}


table.items {
	border: 0.1mm solid #000000;
}
td { vertical-align: top; }
.items td {
	border-left: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
table thead td { background-color: #EEEEEE;
	text-align: center;
	border: 0.1mm solid #000000;
	font-variant: small-caps;
}
.items td.blanktotal {
	background-color: #EEEEEE;
	border: 0.1mm solid #000000;
	background-color: #FFFFFF;
	border: 0mm none #000000;
	border-top: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
.items td.totals {
	text-align: right;
	border: 0.1mm solid #000000;
}
.items td.cost {
	text-align: "." center;
}